.keyboard {
  padding: 0;
  padding-top: 2em;
  height: auto;
  width: 100%;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, calc(min(calc(40vh/5), calc(100%*(4/29)))));
  column-gap: 8.7%;
  row-gap: 1em;
  row-gap: auto;
  list-style: none;
  border-top: rgba(255, 255, 255, 0.35) solid 2px;
  
}

@media (max-width: 40em) or ((orientation: landscape) and (max-width: 60em)) {
  .horizontal {
    grid-template-columns: repeat(5, calc(min(calc(40vh/5), calc(100%*(4/29)))));
  }
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}